@media all and (max-width: 450px){
	.nav-link {
		display: none;
	}

	.Knopki{
		padding: 40px 6px;
	}

	.second-item {
	/*width: calc(100% / 1 - 2%);
	background-color: #fff;
	margin: 3%;
	text-align: center;
	transition: 0.3s ease-in;*/
	width: 90%;
	margin:auto;
	
	}

}
	.first-item {
	margin: 36px auto;
	width: calc(100% / 1 - 2%);
	margin: 3%;
	text-align: center;
	transition: 0.3s ease-in;
}

	.first-box .second-box {
	display: block;
	display: block;
}

	.second-box {
		margin-top: 24px;
}
	.section-subtitle {
		text-align: center;
}
