 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  header{
  	background-color: #854F9B;
  	font-family: "Jost"
  }

  .nav-link{
  	text-decoration: none;
  	color: #FFFFFF;
  	font-size: 15px;
  	margin: 15px;
    padding: 10px 15px;
    font-family: 'Open Sans'
    font-size: 1.5rem;
   }

  .nav-link:hover{
  	color: #ffffff; 
  	background: #5C3271; 
  	transition: 0.3s ease-in;
   }

   .Knopki{
   	display: flex;
	justify-content:flex-end;
	font-family: "Jost"
   }

   .text{
	font-size: 5rem,small;
	letter-spacing: 1px;
	font-family: "Jost";
	text-align:center;
   }

   .parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

   .button{
    background-color: #EB7D4A;
    border: none;
    color: white;
    padding: 15px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;/* при нажатии на кнопку не подсвечивается синем*/
   }

   .first-item {
	max-width: 30%;
}

   .but{
   	padding: 10px 770px;
   }

   .logo{
   	font-family: "Jost"
	font-weight: bold;
	font-size: 25px;
	position: absolute;
   	left: 100px;
   	top: 25px
	}

	section.first{
	background-color: #18C1A4;
	}

	.first{
		color: #D8FCFC;
		font-family: "Jost"
	}

	.textaaa{
		text-align: center;
		font-family: "Jost"
	}

	.h2 {
	font-size: 1.5rem;
	font-weight: 400;
	}

	.hr{
	padding: 0px 912px 0px 808px ;
	}
	
	.section-subtitle {
		text-align: center;
	}
	
	.h3 {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 11px auto;
	}

	.h4 {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 11px auto;
	color: #00BFFF;
	}

	.icon {
	display: block;
	width: 70px;
	margin: auto;
	}

	.first {
    text-align: center;
    padding: 50px 0;
	}

	.section-subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	max-width: 700px;
	margin: auto;
	line-height: 1.5;
	letter-spacing: 0.7px;
	}

	.p{
	font-size: 1.5rem;
	}

	.first-box, .second-box {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 120px auto;
	}

 	section.section{
 	background-color: #E7F2F8;
 	}

	 .section{
 	text-align: center;
    padding: 50px 0;
    color: #3C4457;
    font-family: "Jost"
 	}

 	.img{
	 width: 200px;
	 height: 200px;
	 margin: auto;
	 overflow: hidden;
	 border-radius: 60%;
	 padding: 30px;
	 }

	.second-item {
	width: calc(100% / 4 - 2%);
	background-color: #fff;
	margin: 1%;
	text-align: center;
	transition: 0.3s ease-in;
	}
	
	.second-box{
	flex-wrap: wrap;
	justify-content: space-between;
	}	

 